@mixin sp {
    @media screen and (max-width: 600px) {
        @content
    }
}

.reservation {
    width: 122px;
}

section:not(.sec_eyecatch) {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    @include sp {
        padding: 66px 15%;
    }
}

section.recruit, section.result, section.company {
    margin-bottom: 129px;
    display: flex;
    @include sp {
        display: block;
    }
    width: 100%;
    h3 {
        font-size: 40px;
        @include sp {
            font-size: 30px;
        }
        &:after {
            content: '';
            display: block;
            width: 50%;
            margin-top: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid #D28A94;
            @include sp {
                margin-top: 0;
            }
        }
    }
    .image.sp {
        width: 100%;
        height: 150px;
        margin-bottom: 1em;
    }
    .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        padding-right: 2em;
        @include sp {
            width: auto;
            padding-right: 0px;
        }
        .desc-top {
            @include sp {
                margin-bottom: 1.5em;
            }
        }
    }
    div.image {
        width: 70%;
        background-size: cover;
        background-image: url(../img/material/recruit.png);
    }
}

.reservation.recruit {
    width: 100%;
    @include sp {
        width: 200px !important;
        margin: 0 auto;
    }
}

section.result {
    .desc {
        padding-right: 0px;
        margin-left: auto;
    }
    div.desc-top {
        h3 {
            text-align: right;
            &:after {
                margin-left: auto;
            }
        }
    }

    &>img {
        @include sp {
            display: none;
        }
        &:first-child {
            margin-right: 44px;
        }
        width: 30%;
        &:last-child {
            margin: 0 30px;
        }
    }

    .sp-imgs {
        display: flex;
        margin-bottom: 1em;
        img {
            width: 47.5%;
            &:first-child {
                margin-right: 5%;
            }
        }
    }
}

section.company {
    display: block;
    div.company-content {
        display: flex;

        iframe {
            height: auto;
            width: 70%;
            margin-right: 2em;
            @include sp {
                width: 100%;
            }
        }

        @include sp {
            flex-direction: column;
        }
    }
}

