$pp: 66px 143px;


html {
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

header {
    background-image: url(../img/material/eyecatch.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding: $pp;

    .pc-menu {
        width: 20%;
        float: right;
        ul {
            li {
                padding: 20px 0;
                list-style: none;
                box-sizing: border-box;
                border-bottom: 1px solid black;
                &:last-child {
                    border-bottom: none;
                }
            }
            margin-bottom: 40px;
        }
        .reservation {
            background-color: #D28A94;
            position: relative;
            width: 100%;
            height: 46px;
            display: block;
            .inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: white;
                &.base {
                    width: 90%;
                    background-color: #D28A94;
                    border: 1px solid white;
                    height: 80%;
                }
                &.short {
                    width: 100%;
                    background-color: #D28A94;
                    height: 60%;
                }
                &.long {
                    width: 85%;
                    height: 100%;
                    background-color: #D28A94;
                }
            }
        }
    }
}

main {
    padding: $pp;
    padding-top: 100px;
    position: relative;
    top: -66px;
    border-radius: 50% / 4em;
    z-index: 100;
    background: white;
}

section {
    h2 {
        font-size: 80px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-shadow: -5px -5px 1px rgba(0,0,0,0.16);
    }
}

section.concept {
    position: relative;
    height: 100vh;
    h2 {
        position: relative;
        z-index: 99;
    }
    .content-wrapper {
        position: absolute;
        top: 10%;
        background-image: url(../img/material/wood_r.jpg);
        background-size: cover;
        width: 100%;
        height: 500px;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.16);
    }
    .content {
        // float: right;
        position: absolute;
        bottom:19px;
        right: 37px;
        width: 391px;
        .desc {
            border-top: 1px solid;
            margin-top: 1em;
            padding-top: 1em;    
        }
    }
}

section.instagram {
    h2 {
        float: right;
    }
    padding-bottom: 172px;
    .insta-wrap {
        width: calc(100% - (105px * 2) - 53px);// 100% - 右のh2分 - 余白
        padding-top: 40px;// h2一文字分くらい
        margin-left: 105px;
        .insta-link {
            text-align: right;
            margin-bottom: 1em;
            &:after {
                display: inline-block;
                content: "";
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                width: 2.5em;
                height: 1em;
                transform: skew(52deg);
                margin-right: 10px;// skewしたらはみ出た分
            }
        }
        .insta-list {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: 300px;//適当
            &__img {
                width: 19%;
                height: 45%; // 適当
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }
}




.small {
    font-size: 10px;
}

section.access {
    h2 {
        float: left;
    }
    .content {
        display: flex;
        padding-top: 100px;
        .map {
            width: 50%;
            height: 350px;
        }
        .desc {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 30px;
            box-sizing: border-box;
        }
    }
}

footer {
    color: white;
    height: 280px;
    padding: $pp;
    background-color: #000;
    position: relative;
    top: -50px;
    .left {
        float:left;
        .reserve__btn {
            padding: 1em;
            border: 1px solid white;
            box-sizing: border-box;
            width: 100%;
            color: white;
            display: block;
            text-decoration: none;
            text-align: center;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .right {
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    ul {
        margin-left: auto;
        li {
            float: left;
            list-style: none;
            transform: skew(-15deg);
            border-right: 1px solid white;

            a {
                text-decoration: none;
                color: white;
                display: block;
                transform: skew(15deg);
                margin: 0 .5em;
            }
            
        }
    }

    margin-bottom: 0px;
    
}